@using MS.Katusha.Enumerations
@model SearchResultModel
@{
    ViewBag.Title = "Search";
    var model = Model.Profiles;
    var action  = ViewContext.RouteData.Values["Action"].ToString();
}

@if (model != null) {
    <h2>Search - ( @Model.Total profiles found )</h2>   
    <div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
        @foreach (var profile in model) {
            var val = ((String.IsNullOrWhiteSpace(profile.FriendlyName)) ? profile.Guid.ToString() : profile.FriendlyName);
            var title = String.Format("{0} - {1} - {2}", profile.Name, (DateTime.UtcNow.Year - profile.BirthYear), Html._LText("Country", Enum.GetName(typeof (Country), profile.From ?? 0)));
            var url = Url.Action("Show", "Profiles", new {key = val});
            <a title="@title" href="@url" rel="gallery">
                @Html.Photo(profile.ProfilePhotoGuid, profile.Gender, PhotoType.Thumbnail)
            </a>
        }

    </div>
    @Html.PagedListPager(model, page => Url.Action(action, new {key=page})+"?"+Request.QueryString.ToString(), PagedListRenderOptions.OnlyShowFivePagesAtATime)
}
<div>
    @Html.ActionLink("Back to List", action)
</div>
