@using MS.Katusha.Enumerations
@model MS.Katusha.Web.Models.RegisterModel

@{
    ViewBag.Title = "Register";
}
<script type="text/javascript">
    function selectGender(val) {
        t({ id: 'Gender', value: val });
        document.getElementById('Gender').value = val;
        $("#" + ((val == @( (byte)Sex.Male)) ? "girl" : "man")+ "Button").hide();
        $("#registration_title").hide();
        $("#registration_user").hide("slow");
        $("#registration_profile").show("slow");
        return false;
    }
    function selectUser(val) {
        document.getElementById('Gender').value = 0;
        $("#registration_title").show();
        $("#registration_profile").hide("slow");
        $("#registration_user").show("slow");
        return false;
    }
    function t(o) { if (mixpanel != null && o != null) { mixpanel.track('Registration' + o.id, { value: o.value }); } }
</script>
<div id="registration_title">
    <hgroup class="title">
        <h3>Use the form below to create a new account.</h3>
        <h4> It will only take a minute.</h4>
        <h4>Don't worry we won't bite. ...Or we might!!! ;)</h4>
    </hgroup>

    <p class="message-info">
        Passwords are required to be a minimum of 6 characters in length.<br />
    </p>
</div>

@using (Html.BeginForm((string)ViewBag.FormAction, "Account", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.ValidationSummary(true, "Account creation was unsuccessful. Please correct the errors and try again.")
    <fieldset>
        <div id="registration_user">
            <legend>Registration Form</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName, new { onblur = "t(this)" }) 
                    <br />(Cannot be empty, this information will not be visible to other users, it is only for you.)
                    <br />@Html.ValidationMessageFor(m => m.UserName)<br />
                </li>
                <li>
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { onblur = "t(this)" })
                    <br />(Cannot be empty, this information will not be visible to other users, it is only for you.)
                    <br />@Html.ValidationMessageFor(m => m.Email)<br />
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password) 
                    <br />(Cannot be empty)
                    <br />@Html.ValidationMessageFor(m => m.Password)<br />
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    <br />(Cannot be empty and must match previous password)
                    <br />@Html.ValidationMessageFor(m => m.ConfirmPassword)<br />
                </li>
            </ol>
            <ol>
                <li><hr /></li>
                <li>
                    <h3>
                        I am a Girl @Html.RadioButtonFor(m => m.Gender, Sex.Female) / Man @Html.RadioButtonFor(m => m.Gender, Sex.Male)
                    </h3>
                    (You must choose one ;) )
                    <br />@Html.ValidationMessage("gender2")<br />
                </li>
                <li>
                    <div class="editor-field">
                        <h3>Photo * <input type="file" name="Photo" /></h3> 
                        (We need at least one photo of you)
                        <br />@Html.ValidationMessageFor(model => model.Photo)
                    </div>
                </li>
                <li><hr /></li>
            </ol>
            @Html.Partial("_ProfileCreateOrEdit", Model)
        </div>
        <input type="submit" value="Register" onclick="if(t)t({id:'Click Profile Create'});"/>
    </fieldset>
}
