@using MS.Katusha.Domain.Entities
@using MS.Katusha.Enumerations
@{
    ViewBag.Title = "Congratulations, you are successfully registered";
    var profile = ViewBag.KatushaProfile as Profile;
    var user = ViewBag.KatushaUser as User;
    if (profile != null && user != null) {
        var city = profile.Location.CityName;
        city = city == null ? "" : city.Replace("'", "\\\'");
        <script type="text/javascript">
            if (mixpanel != null) { mixpanel.people.set({
                "$email": "@(user.Email)",
                "$created": new Date(@user.CreationDate.Year, @(user.CreationDate.Month-1), @user.CreationDate.Day, @user.CreationDate.Hour, @user.CreationDate.Minute, @user.CreationDate.Second),
                "$last_login": new Date(),
                "$country_code": '@profile.Location.CountryCode',
                "$name": '@profile.Name.Replace("'", "\\\'")',
                "$username": '@user.UserName.Replace("'", "\\\'")',
                "guid":'@profile.Guid',
                "gender":'@((profile.Gender==(byte)Sex.Male) ? "Male" : ((profile.Gender==(byte)Sex.Female) ? "Female" : "Unknown"))',
                "age":@(DateTime.Now.Year - profile.BirthYear),
                "city":'@(city)'
            });}
        </script>
    }
}
<blockquote>
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
    </hgroup>
    <br/><hr/>
    <p>Now you can;</p><br/>
    <ul>
        @if(user.Gender == (byte)Sex.Male) { <li><b>Warning:</b> You can send messages to girls for the next fifteen (15) days. Unfortunately later on it is paid. But its not bad! :)</li> }
        <li><b>@Html.ActionLink("Edit your profile more detailed way", "Edit", "Profiles")</b>. Please do this now, if you have time.</li>
        <li>@Html.ActionLink("Add more photos", "List", "Photos")</li>
        <li>@Html.ActionLink("View yourself to see how "+ ((user.Gender == (byte)Sex.Male) ? "handsome" : "beautiful") + " you are", "Me", "Profiles")</li>
        <li>@Html.ActionLink("Go home and search for more people", "Index", "Home")</li>
        <li>Pour a glass of wine and relax</li>
        <li>Make a sandwich</li>
        <li>Send happy thoughts to humanity</li>
        <li>Make a search or click the links on the left</li>
    </ul>
</blockquote>
