@using MS.Katusha.Domain.Entities
@using MS.Katusha.Enumerations
@model IEnumerable<MS.Katusha.Domain.Raven.Entities.Dialog> 
@{
    ViewBag.Title = "Dialogs";
    var profile = ViewBag.KatushaProfile as Profile;
    var items = Model;
}
<div id="Messages">
    <table>
        <thead>
            <tr>
                <th>ProfileId</th>
                <th>Count</th>
                <th>UnreadReceivedCount</th>
                <th>UnreadSentCount</th>
                <th>LastReceivedDate</th>
                <th>LastSentDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var message in items)
            {
                <tr>
                    <td>@message.ProfileId</td>
                    <td>@message.Count</td>
                    <td>@message.UnreadReceivedCount</td>
                    <td>@message.UnreadSentCount</td>
                    <td>@message.LastReceivedDate</td>
                    <td>@message.LastSentDate</td>
                </tr>
            }
        </tbody>
    </table>
</div>
