@model MS.Katusha.Web.Models.Entities.ProfileModel

    @Html.DisplayDetailFor(!String.IsNullOrWhiteSpace(Model.Name), _ => Model.Name)
    @Html.DisplayDetailFor(!String.IsNullOrWhiteSpace(Model.FriendlyName), _ => Model.FriendlyName)
    @Html.DisplayDetailFor(Model.From != 0, _ => Model.From)
    @Html.DisplayDetailFor(!String.IsNullOrWhiteSpace(Model.City), _ => Model.City)
    @Html.DisplayDetailFor(Model.BodyBuild != 0, _ => Model.BodyBuild)
    @Html.DisplayDetailFor(Model.EyeColor != 0, _ => Model.EyeColor)
    @Html.DisplayDetailFor(Model.HairColor != 0, _ => Model.HairColor)
    @Html.DisplayDetailFor(Model.Smokes != 0, _ => Model.Smokes)
    @Html.DisplayDetailFor(Model.Alcohol != 0, _ => Model.Alcohol)
    @Html.DisplayDetailFor(Model.Religion != 0, _ => Model.Religion)
    @Html.DisplayDetailFor(Model.Height <= 0, _ => Model.Height)
    @Html.DisplayDetailFor(Model.BirthYear != 0, _ => Model.BirthYear)
    @Html.DisplayDetailFor(!String.IsNullOrWhiteSpace(Model.Description), _ => Model.Description)
    <div class="display-label">Searches</div>
    <div class="display-field">
        @(Model.Searches == null ? "None" : Model.Searches.Count.ToString())
    </div>

@*    <div class="display-label">Photos</div>
    <div class="display-field">@(Model.Photos == null ? "None" : Model.Photos.Count.ToString())</div>

    <div class="display-label">CountriesToVisit</div>
    <div class="display-field">@(Model.CountriesToVisit == null ? "None" : Model.CountriesToVisit.Count.ToString())</div>

    <div class="display-label">LanguagesSpoken</div>
    <div class="display-field">@(Model.LanguagesSpoken == null ? "None" : Model.LanguagesSpoken.Count.ToString())</div>

    <div class="display-label">SentMessages</div>
    <div class="display-field">@(Model.SentMessages == null ? "None" : Model.SentMessages.Count.ToString())</div>

    <div class="display-label">RecievedMessages</div>
    <div class="display-field">@(Model.RecievedMessages == null ? "None" : Model.RecievedMessages.Count.ToString())</div>

    <div class="display-label">WhoVisited</div>
    <div class="display-field">@(Model.WhoVisited == null ? "None" : Model.WhoVisited.Count.ToString())</div>

    <div class="display-label">Visited</div>
    <div class="display-field">@(Model.Visited == null ? "None" : Model.Visited.Count.ToString())</div>*@



@if(Model is BoyModel) {
    @Html.Partial("_BoyDetail", Model as BoyModel)
} else if (Model is GirlModel) {
    @Html.Partial("_GirlDetail", Model as GirlModel)
} else {
    @Html.Label("OH NO!")
}


