@model MS.Katusha.Web.Models.BoysDetailsModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BoyModel</legend>

    <div class="display-label">User</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Boy.User).ToString()</div>

    <div class="display-label">State</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Boy.State).ToString()</div>

    <div class="display-label">Name</div>
    <div class="display-field">@Model.Boy.Name</div>

    <div class="display-label">From</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Boy.From).ToString()</div>

    <div class="display-label">City</div>
    <div class="display-field">@Model.Boy.City</div>

    <div class="display-label">BodyBuild</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Boy.BodyBuild).ToString()</div>

    <div class="display-label">EyeColor</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Boy.EyeColor).ToString()</div>

    <div class="display-label">HairColor</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Boy.HairColor).ToString()</div>

    <div class="display-label">Smokes</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Boy.Smokes).ToString()</div>

    <div class="display-label">Alcohol</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Boy.Alcohol).ToString()</div>

    <div class="display-label">Religion</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Boy.Religion).ToString()</div>

    <div class="display-label">Height</div>
    <div class="display-field">@Model.Boy.Height</div>

    <div class="display-label">BirthYear</div>
    <div class="display-field">@Model.Boy.BirthYear</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Boy.Description</div>

    <div class="display-label">Searches</div>
    <div class="display-field">
        @(Model.Boy.Searches == null ? "None" : Model.Boy.Searches.Count.ToString())
    </div>

    <div class="display-label">Photos</div>
    <div class="display-field">@(Model.Boy.Photos == null ? "None" : Model.Boy.Photos.Count.ToString())</div>

    <div class="display-label">CountriesToVisit</div>
    <div class="display-field">@(Model.Boy.CountriesToVisit == null ? "None" : Model.Boy.CountriesToVisit.Count.ToString())</div>

    <div class="display-label">LanguagesSpoken</div>
    <div class="display-field">@(Model.Boy.LanguagesSpoken == null ? "None" : Model.Boy.LanguagesSpoken.Count.ToString())</div>

    <div class="display-label">SentMessages</div>
    <div class="display-field">@(Model.Boy.SentMessages == null ? "None" : Model.Boy.SentMessages.Count.ToString())</div>

    <div class="display-label">RecievedMessages</div>
    <div class="display-field">@(Model.Boy.RecievedMessages == null ? "None" : Model.Boy.RecievedMessages.Count.ToString())</div>

    <div class="display-label">WhoVisited</div>
    <div class="display-field">@(Model.Boy.WhoVisited == null ? "None" : Model.Boy.WhoVisited.Count.ToString())</div>

    <div class="display-label">Visited</div>
    <div class="display-field">@(Model.Boy.Visited == null ? "None" : Model.Boy.Visited.Count.ToString())</div>

    <div class="display-label">DickSize</div>
    <div class="display-field">@Model.Boy.DickSize</div>

    <div class="display-label">DickThickness</div>
    <div class="display-field">@Model.Boy.DickThickness</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Boy.Guid}) |
    @Html.ActionLink("Back to List", "Index")
</p>


