@model MS.Katusha.Web.Models.Entities.BoyModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>BoyModel</legend>

		@Html.Partial("Profiles/_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
<div class="editor-label">
    @Html.LabelFor(model => model.Photos)
</div>
@Html.Partial("_Photo", Model)
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
