@using ClientDependency.Core
@using ClientDependency.Core.Mvc
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
        <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
        
        <meta name="viewport" content="width=device-width" />
        @{
            @MvcHtmlString.Create(Html.RenderCssHere(new List<IClientDependencyPath> {
                                                                                               new BasicPath("Base", "~/Content/themes/base"),
                                                                                               new BasicPath("Content", "~/Content")
                                                                                           }))

            @MvcHtmlString.Create(Html.RenderJsHere(new List<IClientDependencyPath> {
                                                                                              new BasicPath("Scripts", "~/Scripts"),
                                                                                              new BasicPath("googleCDN", "http://ajax.googleapis.com/ajax/libs/"),
                                                                                              new BasicPath("Content", "~/Content")

                                                                                          }))
            Html.RequiresCss("Bootstrap/bootstrap.min.css", "Content", 2);
            Html.RequiresCss("Bootstrap/bootstrap-responsive.min.css", "Content", 3);
            Html.RequiresCss("Bootstrap/bootstrap-image-gallery.min.css", "Content", 4);

            Html.RequiresCss("FileUpload/jquery.fileupload-ui.css", "Content", 5);


            Html.RequiresJs("jquery/1.7.1/jquery.min.js", "googleCDN", 1);
            Html.RequiresJs("jqueryui/1.8.18/jquery-ui.min.js", "googleCDN", 2);

            Html.RequiresJs("FileUpload/tmpl.min.js", "Content", 5);
            Html.RequiresJs("FileUpload/canvas-to-blob.min.js", "Content", 5);
            Html.RequiresJs("FileUpload/load-image.min.js", "Content", 5);

            Html.RequiresJs("Bootstrap/bootstrap-image-gallery.min.js", "Content", 6);
            Html.RequiresJs("Bootstrap/bootstrap.min.js", "Content", 6);

            Html.RequiresJs("FileUpload/jquery.iframe-transport.js", "Content", 10);
            Html.RequiresJs("FileUpload/jquery.fileupload.js", "Content", 10);
            Html.RequiresJs("FileUpload/jquery.fileupload-ip.js", "Content", 20);
            Html.RequiresJs("FileUpload/jquery.fileupload-ui.js", "Content", 30);

            Html.RequiresJs("FileUpload/locale.js", "Content", 90);
            Html.RequiresJs("FileUpload/main.js", "Content", 99);
        }
    </head>
    <body>
        <div id="fb-root"></div>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here.", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Boys", "Boys", "Profiles")</li>
                            <li>@Html.ActionLink("Girls", "Girls", "Profiles")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Initialize Lookups", "Init", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                <div id="k_main" class="k_clearfix">
                    <div id="k_main_sidebar_left">@Html.Partial("_LeftPartial")</div>
                    <div id="k_content">@RenderBody()</div>
                </div>
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
                <div class="float-right">
                    <ul id="social">
                        <li><a href="http://facebook.com" class="facebook">Facebook</a></li>
                        <li><a href="http://twitter.com" class="twitter">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
