@using MS.Katusha.Configuration
@using MS.Katusha.Domain.Entities
@using System.Configuration
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;" charset="utf-8" />
        <title>@(ViewBag.Title) - MS.Katusha - East meets west, date and chat with singles for men and women!</title>
        <meta name="keywords" content="ukrainian, single, women, girls, dating, marriage, love, personals, Dating, Dating agency, Marriage agency, Women marriage, Ladies and brides, ukraine dating, ukraine brides, ukraine wife, ukraine women, ukraine ladies, romanian dating, romanian brides, romanian wife, romainan women, romanian ladies, moldovian dating, moldovian brides, moldovian wife, moldovian women, moldovian ladies, Belarusian girls, Latvian dating, Hungarian ladies, Russian brides, girls from Belarus, Travel to egzotic countries and islands, Russian dating agency, Russian dating site,  Russian women marriage agency, mail order bride, russian girls, russian women, meet russian women, russian marriage agency, russian dating site, beautiful russian women, dating agency russian girls, dating agency hot russian brides, russian bride models, russian single women, single russian women" />
        <meta name="description" content="International dating services for single men and girls. Only active and beautiful girls from Russia, Ukraine, and other CIS countries. Find your sporting Love in Ukraine, Russia, Moldova, Romania from over 5 of the most beautiful women. Go vacation with them, spoil girls and enjoy life. Meet Eastern European girls looking for love and want to travel. This is not a site for Escorts." />
        <meta name="viewport" content="width=device-width" />
        <meta name="robots" content="index,follow" />
        <link rel="canonical" href="http://www.mskatusha.com" />
        <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/nofocpbpofffcidgnnigmcecdjdpdecd">
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />        
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Static/Content/css")" rel="stylesheet" type="text/css" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
        <script src="http://static.opentok.com/v0.91/js/TB.min.js" ></script>
        <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Static/Scripts/js")" type="text/javascript" language="javascript" ></script>
        @{
            var katushaProfile = ViewBag.KatushaProfile as Profile;
            var katushaUser = ViewBag.KatushaUser as User;
            var controller = ViewContext.RouteData.Values["Controller"].ToString();
            var action = ViewContext.RouteData.Values["Action"].ToString();
            var settings = KatushaConfigurationManager.Instance.GetSettings();
        }
        @{

            //*if (protocol == "https") { <script type="text/javascript">function rp2ps() { if (window.location.substr(0, 6) != "https:") { var pu = window.location.hostname + window.location.pathname + window.location.search; var psu = "https://" + pu; window.location = psu; } } rp2ps();</script>}*@
            if (controller.StartsWith("Admin_")) {
                @Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.css").Add("telerik.sunset.css"));
                @Html.Telerik().ScriptRegistrar().jQuery(false).jQueryValidation(false);
            }
            if (settings.NotTrackedIpsByGoogleAnalytics.IndexOf(settings.Ip, StringComparison.Ordinal) < 0) {
        <!-- start Mixpanel -->
        <script type="text/javascript">(function (c, a) {
            window.mixpanel = a; var b, d, h, e; b = c.createElement("script"); b.type = "text/javascript"; b.async = !0; b.src = ("https:" === c.location.protocol ? "https:" : "http:") + '//cdn.mxpnl.com/libs/mixpanel-2.0.min.js'; d = c.getElementsByTagName("script")[0]; d.parentNode.insertBefore(b, d); a._i = []; a.init = function (b, c, f) {
            function d(a, b) { var c = b.split("."); 2 == c.length && (a = a[c[0]], b = c[1]); a[b] = function () { a.push([b].concat(Array.prototype.slice.call(arguments, 0))) } } var g = a; "undefined" !== typeof f ?
            g = a[f] = [] : f = "mixpanel"; g.people = g.people || []; h = "disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.set people.increment".split(" "); for (e = 0; e < h.length; e++) d(g, h[e]); a._i.push([b, c, f])
            }; a.__SV = 1.1
            })(document, window.mixpanel || []);
            mixpanel.init("1102a989c03052944c70166bf8e26955");                    
        </script><!-- end Mixpanel -->
            } else {
        <script type="text/javascript">window.mixpanel = null;</script>
            }
        }        
    </head>
    <body>
        <header>
            
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">
                        <a href="/" class="mixpanel" mp-event="Click Logo" mp-data="{guid:profile.guid, name:profile.name}"><img src="/Images/logo.jpg"/>Have Fun</a>
                        @if (Request.QueryString["mertiko"] != null && Request.QueryString["mertiko"] == "sakariko") {
                            <input type="text" onkeypress="if(event.keyCode == 13) location = '/Account/LoginWithId/' + (this.value);" />
                        }
                    </p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    @if (ViewBag.KatushaProfile == null) {
                        <nav>
                            <ul id="menu">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                                <li>@Html.ActionLink("Men", "Men", "Profiles")</li>
                                <li>@Html.ActionLink("Girls", "Girls", "Profiles")</li>
                            </ul>
                        </nav>
                    }
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                <div id="k_main" class="k_clearfix">
                    <div id="k_main_sidebar_left">@Html.Partial("_LeftPartial")</div>
                    <div id="k_content">
                        @if (!Request.IsAuthenticated) {
                            if (!(controller == "Account" && action == "Register")) {
                                <a class="btn btn-success fileinput-button mixpanel" href="@Url.Action("Register", "Account")" id="registerLink2" data_dialog_title="Registration" mp-event="Click Green Register">
                                    <i class="icon-plus icon-white"></i>
                                    <span>Register free for limited time only!</span>
                                </a><br/><br/>
                            }
                        } else {
                            if (katushaProfile == null) {
                                <h2 style="display:none">Create a new 
                                    <a class="btn btn-danger delete mixpanel" href='@Url.Action("Create", "Profiles", new { key = "Girl" }, null)' mp-event="Click Create Girl">
                                        <span>Girl Profile</span>
                                    </a>
                                    <a class="btn btn-danger delete mixpanel" href='@Url.Action("Create", "Profiles", new { key = "Man" }, null)' mp-event="Click Create Man">
                                        <span>Man Profile</span>
                                    </a>
                                </h2>
                            }
                        }
                        @RenderBody()
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Love and fun!</p>
                </div>
                <div class="float-right">
                    <ul id="social">
                        <li><a href="@(settings.Protocol)://facebook.com/mertsakarya" class="facebook mixpanel" mp-event="Click Facebook" mp-data="{guid:profile.guid, name:profile.name}">Me on Facebook</a></li>
                        <li><a href="@(settings.Protocol)://twitter.com/mertsakarya" class="twitter mixpanel" mp-event="Click Twitter" mp-data="{guid:profile.guid, name:profile.name}">Me on Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        @if (settings.NotTrackedIpsByGoogleAnalytics.IndexOf(settings.Ip, StringComparison.Ordinal) < 0) {
            <script type="text/javascript">
                var _gaq = _gaq || []; _gaq.push(['_setAccount', 'UA-33763053-1']); _gaq.push(['_trackPageview']);
                @Html.Raw(ViewBag.GoogleAnalytics)
                (function () { var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s); })();
            </script>
        }
        <!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function () { try { w.yaCounter17659666 = new Ya.Metrika({ id: 17659666, enableAll: true, webvisor: true }); } catch (e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/17659666" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->
        <!-- Love and peace friends... @(ConfigurationManager.AppSettings["appharbor.commit_id"])-->
    </body>
</html>
