@using MS.Katusha.Domain.Entities
@if (Request.IsAuthenticated) {
    var profile = ViewBag.KatushaProfile as Profile;
    var user = ViewBag.KatushaUser as User;
    <div id="k_main_sidebar_left">
        <input type="text" id="connectionCountField" value="0" width="5"></input>
        <div id="tokBoxPublisherDiv"></div>
        <ul>
            @Html.Partial("_New")
            @Html.Partial("_Online")
            <hr />
            @if (profile != null) {
                <li>@Html.ActionLink("My messages", "Received", "Messages", new {key = 1}, null)</li>
                <li>@Html.ActionLink("My visitors", "Index", "Visitor", new { key = 1 }, null)</li>
                <li>@Html.ActionLink("My visits", "MyVisits", "Visitor", new { key = 1 }, null)</li>
                <li>@Html.ActionLink("View my profile", "Me", "Profiles", null, null)</li>
                <li>@Html.ActionLink("Edit my profile", "Edit", "Profiles", null, null)</li>
                <li>@Html.ActionLink("My Photos", "List", "Photos")</li>
                @*<li style="display: inline-block;vertical-align: top;"><br /><!-- Group chat --><script src="http://api.opentok.com/hl/embed/1emb6427999101baca02972ce011af29a2325165/button.js" type="text/javascript" charset="utf-8"></script></li>*@
                @*<li>@Html.ActionLink("Membership", "Membership", "Profiles")</li>*@
            } else {
                if (user != null && !user.EmailValidated) {
                    <li>Email not confirmed yet!<br />
                        If you haven't received a mail from us, you can @Html.ActionLink("resend the Confirmation Mail", "SendConfirmation", "Mail") again.
                    </li>
                } else if (user != null && user.Gender == 0) {
                    <li>Create a new
                        <ul>
                            <li>@Html.ActionLink("Girl profile", "Create", "Profiles", new { key = "Girl" }, null)</li>
                            <li>@Html.ActionLink("Man profile", "Create", "Profiles", new { key = "Man" }, null)</li>
                        </ul>
                    </li>
                }
            }
        </ul>
        @{
            var searchResultModel = ViewBag.KatushaSearchResult as BaseSearchResultModel;
            var controllerName = ViewContext.RouteData.Values["controller"].ToString().ToLowerInvariant();
            var actionName = ViewContext.RouteData.Values["action"].ToString().ToLowerInvariant();
            Html.RenderPartial("_SearchForm", (searchResultModel != null) ? searchResultModel.GetSearchCriteria() ?? SearchProfileCriteriaModel.Empty() : SearchProfileCriteriaModel.Empty());
            if (searchResultModel != null && (searchResultModel.Total >= 0 && controllerName == "search" && (actionName == "girls" || actionName == "men"))) {
                Html.RenderPartial("_Search", searchResultModel);
            }
        }
    </div>
}
