@using MS.Katusha.Domain.Entities
@using Raven.Abstractions.Data

@if (Request.IsAuthenticated) {
    var profile = ViewBag.KatushaProfile as Profile;
    var user = ViewBag.KatushaUser as User;
    <ul>
        @if (profile != null) {
            
            <li>@Html.ActionLink("My messages", "MyMessages", "Profiles", new { pageNo = 1 }, null)</li>
            <li>@Html.ActionLink("My visitors", "Visitors", "Profiles", new { pageNo = 1 }, null)</li>
            <li>@Html.ActionLink("View my profile", "Show", "Profiles", new { key = Html.KeyFor(profile) }, null)</li>
            <li>@Html.ActionLink("Edit my profile", "Edit", "Profiles", new { key = Html.KeyFor(profile) }, null)</li>
            <li>@Html.ActionLink("My Photos", "Photos", "Profiles")</li>
            <li>@Html.ActionLink("Membership", "Membership", "Profiles")</li>
        } else {
            if (user != null && !user.EmailValidated) {
                  <li>Email not confirmed yet!<br />
                      If you haven't received a mail from us, you can @Html.ActionLink("resend the Confirmation Mail", "SendConfirmationMail", "Home") again.
                      </li>
            } else if (user != null && user.Gender == 0) {
                 <li>Create a new
                     <ul>
                         <li>@Html.ActionLink("Girl profile", "Create", "Profiles", new { key = "Girl" }, null)</li>
                         <li>@Html.ActionLink("Boy profile", "Create", "Profiles", new { key = "Boy" }, null)</li>
                     </ul>
                 </li>
            }
        }
    </ul>
}
<div class="search">
@if (ViewBag.RequestFacet != null) {
    var faceting = ViewBag.RequestFacet as IDictionary<string, string>;
    <ul>
        @foreach (var f in faceting) {
            <li>
                @Html._LText(f.Key, f.Value) <a class="removeFacet" href="remove f.Key">[X}</a>
            </li>
        }
    </ul>
    <hr />
}         
@if (ViewBag.Facets != null) {
    var faceting = ViewBag.Facets as IDictionary<string, IEnumerable<FacetValue>>;
    <ul>            
        @foreach (var f in faceting) {
            if(!(f.Key == "From" || f.Key == "City")) {
                <li>
                    @Html._R(String.Format("Profile.{0}.DisplayName", f.Key));<br />
                    
                    <ul>
                        @foreach (var fv in f.Value) {
                            var value = Html._LText(f.Key, Convert.ToByte(fv.Range));
                            if (String.IsNullOrWhiteSpace(value)) {value = Html._R("NotFilled");}
                            <li><a href="SetFacet('@f.Key', '@fv.Range')">@Html._LText(f.Key, Convert.ToByte(fv.Range))</a> <span>(@fv.Count)</span></li>
                        }
                    </ul>
                </li>
            }
        }
    </ul>
}
</div>

<div>NEW GIRLS</div>
