@using MS.Katusha.Domain.Entities
@using MS.Katusha.Enumerations
@using MS.Katusha.Domain.Raven.Entities
@if (Request.IsAuthenticated) {
    var profile = ViewBag.KatushaProfile as Profile;
    var pingResult = ViewBag.PingResult as PingResult;
    var name = (profile != null) ? profile.Name : User.Identity.Name;
    <div style="float:right">
        <div id="newVisits" style="float:right; display:none;"></div>
        <div id="newMessages" style="float:right; display:none;"></div>
    </div>
    //if(profile != null) { <script src="/signalr/hubs" type="text/javascript"></script> }
    <script type="text/javascript">
        @if (profile != null) {
            var city = profile.Location.CityName; city = city == null ? "" : city.Replace("'", "\\\'");
            var gender = (profile.Gender == (byte)Sex.Male) ? "Male" : ((profile.Gender == (byte)Sex.Female) ? "Female" : "Unknown");
            var profileName = profile.Name; profileName = profileName == null ? "" : profileName.Replace("'", "\\\'");
            var age = DateTime.Now.Year - profile.BirthYear;
            var country = profile.Location.CountryName; country = country == null ? "" : country.Replace("'", "\\\'");
            <text>
            profile = {guid:'@profile.Guid', gender:'@(gender)', name:'@(profileName)', age:@(age), country:'@(country)', city:'@(city)'};
            onLogin(profile);
            </text>
        }
    </script>
        if (pingResult != null) {
         <script type="text/javascript">
             @if (pingResult.Conversations != null && pingResult.Conversations.UnreadCount > 0) {<text>showNewConversations(@pingResult.Conversations.UnreadCount, @pingResult.Conversations.Count);</text>}
             @if (pingResult.Visits != null && pingResult.Visits.Visits.Count > 0) {<text>showNewVisits('@Html.GetUrlFriendlyDateTime(pingResult.Visits.LastVisitTime)',@pingResult.Visits.Visits.Count);</text>}
         </script>
        }
    <br style="clear:both"/>
    <p>
        Hello,
        @if (profile == null) {
            @name<text><br /><b>Please create a profile</b></text>
        } else {
            @Html.ActionLink(name, "Show", "Profiles", new { key = Html.KeyFor(profile) }, htmlAttributes: new { @class = "username", title = "View your profile" })
            <text>!<small><a href="#" onclick="logoff();">Log off</a></small></text>
        }
        
    </p>
    @*
    <!-- script src="http://connect.facebook.net/en_US/all.js"></ script -->
    <script src="/Scripts/fb_all.js" type="text/javascript"></script>
    <script type="text/javascript">
        window.fbAsyncInit = function() {
            FB.init({
                appId: '405781396117619', // App ID
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });
        };
        $('#fbLogout').click(function () { logoff(); });

        function logoff() {
            var url = '@Url.Action("LogOff", "Account")';
            if (FB)
                try {
                    window.location = url;
                    FB.logout(function(response) { window.location = url; });
                } catch (e) {
                    window.location = url;
                }
            else 
                window.location = url;            
        }
        
    </script>
    *@
    <script type="text/javascript">
        function logoff() { var url = '@Url.Action("LogOff", "Account")'; window.location = url; }        
    </script>
} else {
    @*
    https://developers.facebook.com/apps/405781396117619/auth
    http://csharpsdk.org/docs/web/getting-started
    *@
    @*
    <script type="text/javascript">

        window.fbAsyncInit = function () {
            FB.init({
                appId: '405781396117619', // App ID
                status: true, // check login status
                cookie: true, // enable cookies to allow the server to access the session
                xfbml: true  // parse XFBML
            });

            FB.getLoginStatus(function (response) {
                if (response.status === 'connected') {
                    var uid = response.authResponse.userID;
                    var accessToken = response.authResponse.accessToken;
                    $.post('/Account/FacebookLogin?dummy=' + Math.random(), {
                            'accessToken': accessToken,
                            uid: uid
                        }, function (data, textStatus) {
                            if (data) {
                                if (data.status == "ok") {
                                    location = data.url;
                                } else if (data.status == "new") {
                                    if (!(location.href.indexOf('Profiles') > 0 && location.href.indexOf('Facebook') > 0))
                                        $('#facebookRegisterLink').click();
                                }
                            } else {
                                document.getElementById("fbResult").innerHTML = "Facebook Error";
                            }
                        });
                } else if (response.status === 'not_authorized') {
                    // the user is logged in to Facebook, 
                    // but has not authenticated your app
                } else {
                    // the user isn't logged in to Facebook.
                }
            });
        };

        // Load the SDK Asynchronously
        (function (d) {
            var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement('script'); js.id = id; js.async = true;
            //js.src = "//connect.facebook.net/en_US/all.js";
            js.src = "/Scripts/fb_all.js";
            ref.parentNode.insertBefore(js, ref);
        } (document));
    </script>
    *@
    <ul>
    @*
        <li><div class="fb-login-button" data-show-faces="true" data-width="400" data-max-rows="1" style="overflow:hidden;height:18px;width:70px; float:right; position: relative; display: inline-block;"></div></li>
        <li style="display:none;">@Html.ActionLink("Register Facebook", "Facebook", "Account", routeValues: null, htmlAttributes: new { id = "facebookRegisterLink", data_dialog_title = "Facebook Registration" })</li>
    *@
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", data_dialog_title = "Registration" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", data_dialog_title = "Identification" })</li>
         <!-- Community bar ><script-- id="tb-video-bar" src="https://api.opentok.com/hl/embed/2emb2df2f374135899066c2bcaff6c3907456094/bar.js" rel="#27a4e4"></script-->

        @*<li><span id="fbResult" style="color:#800000"></span></li>*@
    </ul>
}