@using MS.Katusha.Enumerations
@model BaseSearchResultModel
<div class="search">
    @if (Model != null && Model.Total >= 0) {
        var criteria = Model.GetSearchCriteria();
        var locationCriteria = criteria.Location;
        var selectedFieldsList = criteria.GetSelectedFieldsList();
        <script type="text/javascript">
            function RemoveSearchKey(arr) {
                var urlParams = {};
                (function () {
                    var e,
                        a = /\+/g,  // Regex for replacing addition symbol with a space
                        r = /([^&=]+)=?([^&]*)/g,
                        d = function (s) { return decodeURIComponent(s.replace(a, " ")); },
                        q = window.location.search.substring(1);
                    while (e = r.exec(q))
                        urlParams[d(e[1])] = d(e[2]);
                })();
                for (var i = 0; i < arr.length; i++) {
                    var item = arr[i];
                    var key = item[0], value = item[1];
                    if (urlParams[key] && urlParams[key] == value)
                        delete urlParams[key];
                }
                var qs = [];
                for (var o in urlParams) {
                    var str = encodeURIComponent(o) + "=" + encodeURIComponent(urlParams[o]);
                    qs.push(str);
                }
                var queryString = qs.join("&");
                if (queryString.length >= 0) {
                    var i = location.href.indexOf("?");
                    var l = location.href.substr(0, i);
                    location = l + "?" + queryString;
                }
            }
        </script>
        <hr />
        <ul>
            @Html.CriteriaItem(locationCriteria)

            @Html.CriteriaItem("BodyBuild", criteria.BodyBuild)
            @Html.CriteriaItem("EyeColor", criteria.EyeColor)
            @Html.CriteriaItem("HairColor", criteria.HairColor)


            @Html.CriteriaItem("Age", criteria.Age)
            @Html.CriteriaItem("Height", criteria.Height)
            @if (criteria is SearchStateCriteriaModel) {
                var stateCriteria = criteria as SearchStateCriteriaModel;
            } else if (criteria is SearchProfileCriteriaModel) {
                var profileCriteria = criteria as SearchProfileCriteriaModel;
                @Html.CriteriaItem("Religion", profileCriteria.Religion)
                @Html.CriteriaItem("Smokes", profileCriteria.Smokes)

                @Html.CriteriaItem("DickSize", profileCriteria.DickSize)
                @Html.CriteriaItem("DickThickness", profileCriteria.DickThickness)
                @Html.CriteriaItem("BreastSize", profileCriteria.BreastSize)
            }

        </ul>
        <hr />
        <ul>            
            @foreach (var f in Model.FacetValues) {
                if (f.Key == "Gender") { continue; }
                if (criteria.Gender == Sex.Female && (f.Key == "DickSize" || f.Key == "DickThickness")) { continue; }
                if (criteria.Gender == Sex.Male && (f.Key == "BreastSize")) { continue; }
                if (selectedFieldsList.Contains(f.Key)) { continue; }
                if (!String.IsNullOrWhiteSpace(locationCriteria.CountryCode) && f.Key == "CountryCode") { continue; }
                if (String.IsNullOrWhiteSpace(locationCriteria.CountryCode) && f.Key == "CityCode") { continue; }
                <li>
                    @Html.SearchCriteriaKeyText(f.Key)
                    <br />
                    <ul>
                        @foreach (var fv in f.Value) {
                            string lookupKey;
                            var value = Html.SearchCriteriaValueText(f.Key, fv.Range, out lookupKey, locationCriteria.CountryCode);
                            <li>
                                <a href="@Html.SetFacet(((f.Key == "BirthYear") ? "Age" : f.Key), lookupKey)">@value</a> 
                                <span>(@fv.Count)</span>
                            </li>
                        }
                    </ul>
                </li>
            }
        </ul>
    }
</div>