@using MS.Katusha.Domain.Entities
@using MS.Katusha.Enumerations
@model BaseSearchCriteriaModel
@{
    var profile = ViewBag.KatushaProfile as Profile;
    var searching = "Girls";
    var searchingGender = (byte) Sex.Female;
    if(profile != null) {
        searching = (profile.Gender == (byte)Sex.Male) ? "Girls" : "Men";
        searchingGender = (profile.Gender == (byte) Sex.Male) ? (byte) Sex.Female : (byte) Sex.Male;
    }
    var qsOnline = Request.QueryString["online"];
    var searchOnlineProfiles = (!String.IsNullOrWhiteSpace(qsOnline) && qsOnline.ToLowerInvariant() == "on");
    var searchFormAction = Url.Action(searching + ((searchOnlineProfiles) ? "Online" : ""), "Search");
}
<form id="searchForm" action="@searchFormAction" method="get" onsubmit="return checkSearchForm();">
    <hr style="clear: both"/>
    <h3 id="whereToSearch">Search @(searching)</h3>
    <h4><input type="checkbox" name="online" id="online" onclick="setSearchAction(this.checked)" @((searchOnlineProfiles) ? "checked" : "") /> Search online profiles</h4>
    <fieldset>
        <ol>
            <li>
                <div class="search-editor-label">@Html.LabelFor(model => model.Age)</div><div class="search-editor-field">@Html.EnumDropDownListFor(model => Model.Age[0], true)</div>
            </li>
            <li>
                <div class="search-editor-label">
                    @Html.LabelFor(model => model.Location.CountryName)
                </div>
                <div class="search-editor-field">
                    @CountryCity.Search(Model.Location, "SearchCountry", "SearchCity", "/Search/GetCities","", searchingGender)
                </div>
            </li>
            <li>
                <div class="search-editor-label">@Html.LabelFor(model => model.Height)</div><div class="search-editor-field">@Html.EnumDropDownListFor(model => Model.Height[0], true)</div>
            </li>
        </ol>
        <p><input type="submit" value="Search" /></p>
    </fieldset>
</form>
<script type="text/javascript">
    var searchFormAction = '@(searchFormAction)';
    var searching = '@(searching)';
    
    function setSearchAction(isOnline) { document.getElementById('searchForm').action = '/Search/' + searching + ((isOnline) ? 'Online' : ''); }

    function checkSearchForm() {
        var isOnline = document.getElementById('online').checked;
        var online = (isOnline) ? "online=on" : "";
        var age = document.getElementById('Age_0_').options[document.getElementById('Age_0_').selectedIndex].value;
        var height = document.getElementById('Height_0_').options[document.getElementById('Height_0_').selectedIndex].value;
        var cityCode = document.getElementById('CityKey').value;
        var countryCode = document.getElementById('CountryCode').options[document.getElementById('CountryCode').selectedIndex].value;

        var arr = [];
        if (age && "" + age != "" && "" + age != "0") arr.push("Age=" + encodeURIComponent(age));
        if (height && "" + height != "" && "" + height != "0") arr.push("Height=" + encodeURIComponent(height));
        if (cityCode && "" + cityCode != "" && "" + cityCode != "0") arr.push("CityCode=" + encodeURIComponent(cityCode));
        if (countryCode && "" + countryCode != "") arr.push("CountryCode=" + encodeURIComponent(countryCode));
        if (arr.length > 0 && online.length > 0) arr.push(online);
        
        //if (arr.length > 0) {
            var action = document.getElementById('searchForm').action;
            var location = action + '?' + arr.join('&');
            window.location = location;
        //} else alert("Please choose something!");
        return false;
    }

    function cf(cityArea, from, city) {
        var ca = document.getElementById(cityArea);
        var f = document.getElementById(from);
        if (ca != null)
            if (f != null && f.value.length > 0) {
                ca.style.display = '';
            } else {
                ca.style.display = "none";
                document.getElementById(city).value = '';
                document.getElementById(city+'Key').value = '';
            }
    }
</script>