@using MS.Katusha.Domain.Entities
@using MS.Katusha.Enumerations
@model SearchCriteriaModel
@{
    var profile = ViewBag.KatushaProfile as Profile;
    var searching = "Girls";
    if(profile != null) {searching = (profile.Gender == (byte) Sex.Male) ? "Girls" : "Men";}
}
<form id="searchForm" action="@Url.Action(searching, "Search")" method="get">
    <hr style="clear: both"/>
    <h3 id="whereToSearch">Search @(searching)</h3>
    <fieldset>
        <ol>
            <li>
                <div class="search-editor-label">@Html.LabelFor(model => model.Age)</div><div class="search-editor-field">@Html.EnumDropDownListFor(model => Model.Age[0], true)</div>
            </li>
            <li>
                <div class="search-editor-label">@Html.LabelFor(model => model.From)</div><div class="search-editor-field">@Html.AutoCompleteFor(model => model.From[0], "From[0]", "Country", "/Search/GetCountries")</div>
            </li>
            <li id="SearchCity[0]">
                <div class="search-editor-label">@Html.LabelFor(model => Model.City)</div><div class="search-editor-field">@Html.AutoCompleteFor(model => model.City[0], "City[0]", "City", "/Search/GetCities")</div>
            </li>
            <li>
                <div class="search-editor-label">@Html.LabelFor(model => model.Height)</div><div class="search-editor-field">@Html.EnumDropDownListFor(model => Model.Height[0], true)</div>
            </li>
        </ol>
        <p><input type="submit" value="Search" /></p>
    </fieldset>
</form>