@model ProfileModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Profile</legend>

    @Html.Partial("Profiles/_Details", Model)
</fieldset>

<div class="editor-label">
    @Html.LabelFor(model => model.Photos)
</div>
@Html.Partial("_Photo", Model)

<p>
    @Html.ActionLink("SEND MESSAGE", "SendMessage", new { key = Html.KeyFor(Model) }, null) |
    @Html.ActionLink("Back to List", "Index")
</p>


