@model ProfileModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Profile</legend>

    @Html.Partial("Profiles/_Details", Model)
</fieldset>

<div class="editor-label">
    @Html.LabelFor(model => model.Photos)
</div>
@Html.Partial("_Photo", Model)
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<p>
    @Html.ActionLink("Edit Profile", "Edit", new { key = Html.KeyFor(Model) }) |
    @Html.ActionLink("Edit User", "Edit", new { key = Html.KeyFor(Model) }) |
    @Html.ActionLink("Edit State", "Edit", new { key = Html.KeyFor(Model) }) |
    @Html.ActionLink("Photos", "Edit", new { key = Html.KeyFor(Model) }) |
    @Html.ActionLink("Back to List", "Index")
</p>


