@model MS.Katusha.Web.Models.Entities.ProfileModel

@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>@Model.Name</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}
<div class="editor-label">
    @Html.LabelFor(model => model.Photos)
</div>
@Html.Partial("_Photo", Model)
<div>
    @Html.ActionLink("Back to Profile page", "Show", new {key = Model.Guid})
</div>
