@using MS.Katusha.Enumerations
@model MS.Katusha.Web.Models.PagedListModel<ConversationModel>
@{
    ViewBag.Title = "My Messages";
}

<h2>My messages</h2>
       
<ul>
@foreach (var item in Model.List) {
    if (item != null) {
        var from = (item.From == null) ? "" : item.From.Name;
        var to = (item.To == null) ? "" : item.To.Name;
        var isRead = (item.FromId == ViewBag.KatushaProfile.Id) || (item.ReadDate != new DateTime(1900, 1, 1, 0, 0, 0));
        <li >@item.CreationDate.ToLocalTime() @from > @to 
        <a title="Read" href="#" onclick="@((isRead) ? "" : "$.getJSON('/" + (ViewContext.RouteData.Values["Controller"]) + "/ReadMessage/" + item.Guid + "', function(data) {$('#M" + item.Guid + "').slideDown('slow');})")">@item.Subject</a>
        <div id="M@(item.Guid)" class="@((isRead) ? "" : "hide")"><pre>@(item.Message ?? "")</pre></div>
        </li>
    }
}

</ul>

@Html.PagedListPager(Model.List, page => Url.Action("MyMessages", new { page }), PagedListRenderOptions.OnlyShowFivePagesAtATime)

<div>
    @Html.ActionLink("Back to List", (ViewBag.KatushaProfile.Gender == (byte)Sex.Male ? "Girls" : "Boys"))
</div>
