@using MS.Katusha.Enumerations
@model ProfileModel
@{ ViewBag.Title = Model.Name + "'s Profile"; }

<h2>@Model.Name</h2>
<hr />
<fieldset>
    <legend>Profile</legend>
    @if (Model.ProfilePhotoGuid != Guid.Empty) {
        @Html.Photo(Model.ProfilePhotoGuid, PhotoType.Medium,"", true)
    }
    <hr />

    @Html.DisplayDetailFor(!String.IsNullOrWhiteSpace(Model.From), _ => Model.From, Model.From)
    @Html.DisplayDetailFor(!String.IsNullOrWhiteSpace(Model.City), _ => Model.City)
    @Html.DisplayDetailFor(Model.BodyBuild != 0, _ => Model.BodyBuild)

    @Html.DisplayDetailFor(Model.Height > 0, _ => Model.Height)
    @Html.DisplayDetailFor(Model.BirthYear > 0, p => p.BirthYear)

    @Html.DisplayDetailFor(Model.EyeColor != 0, _ => Model.EyeColor)
    @Html.DisplayDetailFor(Model.HairColor != 0, _ => Model.HairColor)
    @Html.DisplayDetailFor(Model.Smokes != 0, _ => Model.Smokes)
    @Html.DisplayDetailFor(Model.Alcohol != 0, _ => Model.Alcohol)
    @Html.DisplayDetailFor(Model.Religion != 0, _ => Model.Religion)
    @Html.DisplayDetailFor(!String.IsNullOrWhiteSpace(Model.Description), _ => Model.Description)
    @if(Model.Gender == Sex.Male) {
        @Html.DisplayDetailFor(Model.DickSize != 0, p => p.DickSize)
        @Html.DisplayDetailFor(Model.DickThickness != 0, p => p.DickThickness)
    } else if (Model.Gender == Sex.Female) {
        @Html.DisplayDetailFor(Model.BreastSize != 0, _ => Model.BreastSize)
    }
    @Html.DisplayDetailForEnum(Model, p => p.CountriesToVisit, "Country", p => p.Country)
    @Html.DisplayDetailForEnum(Model, p => p.LanguagesSpoken, "Language", p => p.Language)
    @Html.DisplayDetailForEnum(Model, p => p.Searches, "LookingFor", p => p.Search)   
    @Html.Partial("_Photo", Model)
</fieldset>

<p>
    @Html.ActionLink("SEND MESSAGE", "Send", "Messages", new { key = Html.KeyFor(Model) }, null) |
    @Html.ActionLink("Back to List", (Model.Gender == Sex.Male ? "Girls" : "Men"), "Profiles", null, null)
</p>

