@using MS.Katusha.Enumerations
@model MS.Katusha.Web.Models.UtilitiesPhotosModel
@{ 
    ViewBag.Title = "Photo files";
}

<h2>Photo files ( @Model.PhotoGuids.Total )</h2>

<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
    @foreach (var guid in Model.PhotoGuids.List) {
        var photo = Model.Photos[guid];
        <div id="Photo:@photo.Guid" class="gallery-item" style="display: inline;" data-href="@Html.PhotoLink(photo.Guid)" title="@photo.Description">
            <div class="mosaic-block bar">
                <a title="@photo.Description" href="@Html.PhotoLink(photo.Guid)" rel="gallery">
                    <div class="mosaic-backdrop">@Html.PhotoImg(photo.Guid, PhotoType.Thumbnail, photo.Description)</div>
                </a>
            </div>
        </div>
    }
</div>
<!-- Shim to make HTML5 elements usable in older Internet Explorer versions -->
<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade">
    <div class="modal-header">
        <a class="close mixpanel" data-dismiss="modal" mp-event="!Click Gallery Close" mp-data="{guid:profile.guid, name:profile.name}">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn btn-primary modal-next mixpanel" mp-event="!Click Gallery Next" mp-data="{guid:profile.guid, name:profile.name}">
            <span>Next</span>
            <i class="icon-arrow-right icon-white"></i>
        </a>
        <a class="btn btn-info modal-prev mixpanel" mp-event="!Click Gallery Previous" mp-data="{guid:profile.guid, name:profile.name}">
            <i class="icon-arrow-left icon-white"></i>
            <span>Previous</span>
        </a>
        <a class="btn btn-success modal-play modal-slideshow  mixpanel" mp-event="!Click Gallery Slideshow" mp-data="{guid:profile.guid, name:profile.name}" data-slideshow="5000">
            <i class="icon-play icon-white"></i>
            <span>Slideshow</span>
        </a>
    </div>
</div>
<br/>
@if (Model.PhotoGuids.Total > Model.PhotoGuids.List.PageSize) {
    <hr style="clear: both"/>
    @Html.PagedListPager(Model.PhotoGuids.List, key => Url.Action("Photos", new { key = key }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
}
