@using MS.Katusha.Enumerations
@model MS.Katusha.Web.Models.PagedListModel<ConversationModel>
@{
    Layout = "";
    var controller = ViewContext.RouteData.Values["Controller"];
}

<h2>BETA ( @Model.Total )</h2>
       
<ul>
@foreach (var item in Model.List) {
    if (item == null) { continue; }
    var from = item.FromName;
    var to = item.ToName;
    var isRead = (item.FromId == ViewBag.KatushaProfile.Id) || (item.ReadDate != new DateTime(1900, 1, 1));
    <li >@item.CreationDate.ToLocalTime() @(@from) > @to 
        <a title="Read" href="#" onclick="@((isRead) ? "" : "$.getJSON('/" + (controller) + "/Read/" + item.Guid + "', function(data) {$('#M" + item.Guid + "').slideDown('slow');})")">@item.Subject</a>
        <div id="M@(item.Guid)" class="@((isRead) ? "" : "hide")"><pre>@(item.Message ?? "")</pre></div>
    </li>
}

</ul>

@if (Model.Total > Model.List.PageSize) {
    <hr style="clear: both"/>
    @Html.PagedListPager(Model.List, key => Url.Action("List", new { key = key }), PagedListRenderOptions.OnlyShowFivePagesAtATime)
}

