@using MS.Katusha.Enumerations
@model MS.Katusha.Web.Models.PagedListModel<VisitModel>
@{ 
    ViewBag.Title = "Visitors";
    var action = ViewContext.RouteData.Values["Action"].ToString();
}

<h2>Visitors</h2>

<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
    @foreach (var visit in Model.List) {
        var profile = visit.VisitorProfile;
        var val = ((String.IsNullOrWhiteSpace(profile.FriendlyName)) ? profile.Guid.ToString() : profile.FriendlyName);
        var date = visit.ModifiedDate.ToLocalTime();
        var now = DateTime.Now.ToLocalTime();
        var dateString = "";
        if (now.Day == date.Day && now.Month == date.Month && now.Year == date.Year) {
            dateString = date.ToShortTimeString();
        } else {
            dateString = date.ToShortDateString();
        }
        <div class="gallery-item" style="display: inline-block;" >
            <div class="bar">
                <a title="@(profile.Name + " - " + (DateTime.UtcNow.Year - profile.BirthYear).ToString() + " - " + Html._LText("Country", profile.From.ToString()))" href="/Profiles/Show/@(val)" rel="gallery">
                    @Html.Photo(profile.ProfilePhotoGuid, PhotoType.Thumbnail)
                </a>
                <div style="border: 1 solid">
                    @profile.Name<br/>
                    @(dateString)<br/>
                    @(visit.VisitCount) Time(s)<br/><br/>
                </div>
            </div>
        </div>
    }
</div>

@Html.PagedListPager(Model.List, key => Url.Action(action, new { key = key }), PagedListRenderOptions.OnlyShowFivePagesAtATime)

<div>
    @Html.ActionLink("Back to List", action)
</div>
